/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key
/config/database.yml
/config/deploy.rb
/config/deploy/*
/config/GCS.json
Capfile

/shelf/
/workspace.xml

/dataSources/
/dataSources.local.xml

/httpRequests/

/.vscode
/.idea

erd.pdf

TAGS

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity


