= simple_form_for([@course, @lesson, @comment]) do |f|
  - if @course.errors.any?
    .container.text-danger
      - @course.errors.full_messages.each do |msg|
        %li= msg
    %p

  .form-inputs
    = f.input :content, label: false, as: :rich_text_area

  .form-actions
    = f.button :submit
