- content_for :title do
  RubyGems
  \|
  Reviewing
  = @enrollment

.card
  .card-header
    %h3
      .fa.fa-lock-open
      Add a review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
