@import "./actiontext.scss";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f0e6 !important;
  font-family: verdana, arial, helvetica, sans-serif !important;
  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none !important;
    &:hover {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

footer {
  margin-top: auto;
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

trix-editor.form-control {
  height: auto;
}

hr {
  background-color: white;
}

.dropdown-menu {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;

  z-index: 1030;
  width: 100%;
  display: flex;
  transition: 0.6s all;

  .navbar-brand {
    color: white;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      color: white;
    }
  }
}

.sticky {
  padding: 10px 100px;
  background-color: white !important;
}

nav.sticky {
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4);
  .nav-link {
    color: #563d7cde !important;
    &:hover {
      color: #563d7c !important;
    }
  }
  .navbar-brand {
    color: #563d7c !important;
  }
}

.spacer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 30px;
  background: transparent;
  z-index: -1;
  overflow: visible;
}

.alert {
  position: absolute !important;
  z-index: 50;
  top: 80px;
  width: fit-content;
  transition: 0.6s all;
  p {
    margin: 0;
  }
}

.card {
  &.transform {
    -webkit-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -moz-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -o-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -ms-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;

    &:hover {
      box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.7) !important;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
    }
  }
}

.fixed {
  min-height: 100px;
  max-height: 100px;
}
.table {
  background: white;
}

.dropdown {
  z-index: 9999;
}

.form-control.is-invalid {
  background-image: none;
}
.form-control.is-valid {
  background-image: none;
}

.ui-state-highlight {
  height: 3em;
  line-height: 1.2em;
  background-color: aqua;
}

.form-control.is-invalid {
  background-image: none;
}
.form-control.is-valid {
  background-image: none;
}

.rounded {
  border-radius: 12px;
  border: 0 none;
}

.nested-fields.container.rounded {
  padding: 12px;
  margin-bottom: 50px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    z-index: 3;
  }
}

// Custom elements
$custompurple: #563d7c;

.text-shadow {
  text-shadow: 1px 1px black;
}

.darker {
  color: darkgrey;
}

.purple-background {
  background-color: $custompurple;
}

.btn-custom-purple {
  color: #fff;
  background-color: $custompurple;
  border-color: $custompurple;
}

.purple-text {
  color: $custompurple;
}

.purple {
  color: $custompurple;
  border-color: $custompurple;

  &:hover {
    color: #fff;
    background-color: $custompurple;
    border-color: $custompurple;
  }
}

.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/bg.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
