@import "./actiontext.scss";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f0e6;
  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none !important;
    &:hover {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

footer {
  margin-top: auto;
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
trix-editor.form-control {
  height: auto;
}

hr {
  background-color: white;
}

.alert {
  position: absolute !important;
  z-index: 50;
  top: 80px;
  width: fit-content;
  transition: 0.6s all;
  p {
    margin: 0;
  }
}

.card {
  &.transform {
    -webkit-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -moz-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -o-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    -ms-transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;
    transition: transform 0.6s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 200ms ease;

    &:hover {
      box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.7) !important;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
    }
  }
}

.table {
  background: white;
}

.dropdown {
  z-index: 9999;
}

.form-control.is-invalid {
  background-image: none;
}
.form-control.is-valid {
  background-image: none;
}

.ui-state-highlight {
  height: 3em;
  line-height: 1.2em;
  background-color: aqua;
}

.form-control.is-invalid {
  background-image: none;
}
.form-control.is-valid {
  background-image: none;
}

.nested-fields.container.rounded {
  padding: 12px;
  margin-bottom: 50px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    z-index: 3;
  }
}

// Custom elements
$custompurple: #563d7c;

.text-shadow {
  text-shadow: 1px 1px black;
}

.darker {
  color: darkgrey;
}

.purple-background {
  background-color: $custompurple;
}

.btn-custom-purple {
  color: #fff;
  background-color: $custompurple;
  border-color: $custompurple;
}

.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/bg.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
