-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  - if @course.errors.any?
    .container.text-danger
      - @course.errors.full_messages.each do |msg|
        %li= msg
    %p

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }


  .form-actions
    = f.button :submit
