- content_for :title do
  = t('title.title')
  \|
  = t('title.new_course')

.card.shadow
  .card-header
    %h3.text-center
      .fa.fa-graduation-cap
      = t('title.new_course')
  .card-body
    = render 'form'
