@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";
@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

body {
  background: #2a4054;
  color: #ebedf0;
}

.card,
.jumbotron,
.list-group-item {
  color: #2a4054;
}

.purple-background {
  background-color: #563d7c;
}

hr {
  background-color: white;
}

.table {
  background: white;
}

.form-control.is-invalid {
  background-image: none;
}
.form-control.is-valid {
  background-image: none;
}

.ui-state-highlight {
  height: 3em;
  line-height: 1.2em;
  background-color: aqua;
}

//simple_form input height for rich_text_area
trix-editor.form-control {
  height: auto;
}
